doctype html
html
  head
    meta(data-rh='true' property='og:title' content=`${title}`)
    meta(data-rh='true' property='og:image' content=`${image}`)
    meta(data-rh='true' property='og:description' content=`${description}`)
    title Redirecting...
  body
    h1 Redirecting...
    p You will be redirected to #{url} in 5 seconds.
    script.
      setTimeout(function() {
        const redirectUrl = "#{url}"
        window.location.assign(redirectUrl)
      }, 1000);